@import './variables.scss';
@font-face{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    src: url("D:/STUDY/PROCOdE/3.05/fonts/ProximaNova-Bold.ttf")
}
@font-face{
    font-family: ProximaNovaReg;
    font-style: normal;
    font-weight: 500;
    src: url("D:/STUDY/PROCOdE/3.05/fonts/ProximaNova-Regular.ttf")
}
@font-face{
    font-family: ProximaNovasem;
    font-style: normal;
    font-weight: 500;
    src: url("D:/STUDY/PROCOdE/3.05/fonts/ProximaNova-Semibold.ttf")
}
@font-face{
    font-family: Intro;
    font-style: normal;
    font-weight: 500;
    src: url("D:/STUDY/PROCOdE/3.05/fonts/Intro.ttf")
}
body {
    padding:0;
    margin: 0 auto;
    .header{
        width: 1600px;
        min-height: 583px;
        background-image: url('./img/childOO.png');
        background-size: cover;
        .sqblack{
            min-height: 82px;
            width: 765px;
            background-color: $nearblack;
            color: white;
            position: absolute;
            top:160px;
            left:0;
            h1{
                color: white;
                text-transform:uppercase;
                vertical-align: center;
                margin-left: 213px;
                font-family: Intro;
                font-size: 38px;
                line-height: 53px;
            }
        }
        .header_top_line{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            min-height: 72px;
            background-color:white;
            // font-family: Verdana, Geneva, Tahoma, sans-serif;
            .header_logo{
                display:flex;
                justify-content: center;
            }
            .header_menu{
                display: flex;
                a {
                    display: flex;
                    min-height: 72px; 
                    color: black;
                    font-family: Proxima Nova;
                    font-style: Bold;
                    font-size: 16px;
                    text-decoration-line: none;
                    margin-right: 34px;
                    cursor: pointer;
                    align-items: center;
                    justify-content:flex-end;
                    &:hover{
                        color: $orang;
                        border-bottom:3px solid $orang;
                        cursor: pointer;
                    }
                }    
                .antrance{
                    margin-left: 70px;
                    &::before {
                        content: url('./img/user.svg'); 
                        padding-right: 20px; 
                    }
                }   
            }    
        }
        .header_blok_text{
            margin-left: 213px;           
           .head_info{
                font-size: 16px;
                line-height: 27px;
                margin-top: 210px;
                font-family: Proxima Nova;
                line-height: 31px;
            }
            // button{
            //     cursor: pointer;
            //     position: absolute;
            //     width: 209px;
            //     height: 44px;
            //     left: 213px;
            //     top: 330px;
            //     font-family: Proxima Nova;
            //     font-style: Bold;
            //     font-size: 14px;
            //     background-color:$bl;
            //     border: 2px solid white;
            //     border-radius: 3px;
            //     text-align: center;
            //     color: white;
            //     &:hover{
            //         color: $orang;
            //         cursor: pointer;
            //     }
            // }
            .rectangle{
                 margin-top: 45px;
                .outer_rectangle{
                    display: flex;
                    align-items: center;
                    width: 469px;
                    height: 15px;
                    border: 1px solid white;
                    background-color: white; 
                    border-radius: 2px;
                    .inner_rectangle{
                        display: flex;
                        align-items: center;
                        margin-left: 3px;
                        width: 259px;
                        height: 9px; 
                        border-radius: 2px;
                        background-color:$h3color;
                    }
                } 
            }
            .text_rectangle{
                display: grid;
                width: 349px;
                height: 42px;
                grid-template-areas: 'a b g e';
                color: white;
                font-family: ProximaNovasem;
                font-size: 14px;
                margin-top: 10px;
                align-items: start;
                p:nth-child(1) {
                    grid-row: 1;
                    grid-column: 1;
                    grid-area: a;
                    font-size: 32px;
                    width: 35px;
                    align-items: center;
                    margin-top: 0px;
                }  
                p:nth-child(2) {
                    grid-row: 1;
                    grid-column: 2;
                    grid-area:b;
                    width: 186px;
                    margin-top: 0px;
                }
                p:nth-child(3) {
                    grid-row: 1;
                    grid-column: 3;
                    grid-area: g;
                    font-size: 32px;
                    margin-top: 0px;
                } 
                p:nth-child(4) {
                    grid-row: 1;
                    grid-column: 4;
                    grid-area: e;
                    margin-top: 0px;
                }  
            }   
        } 
    }    
    .main{
        margin-top: -18px;
        .breadcrumbs{
            display: flex;
            width: 1600px;
            min-height: 47px;
            background-color: $theme;
            align-items: center;
            
            ul{   
                margin-left: 213px;
                list-style-type: none;  
                padding-inline-start: 0;
                font-family: Proxima Nova;
                font-style: Bold;
                font-size: 16px;
                .active{
                    color: $nearblack;
                    font-weight: bold;
                }
                li {
                    display: inline-block;
                    align-items: center;
                    &:not(:first-child){
                        &::before {
                            content: url('./img/Line1.svg'); 
                            padding: 0 7px; 
                            padding-bottom: 19px;
                        }
                    }
                    a { 
                        color: $linkcolor; 
                        text-decoration: none;
                    }     
                }
            }
        } 
        .theme_topic{
            width: 1600px;
            display: flex;
            background-color: white;
            .task{ 
                position: relative;
                h2{
                    display: flex;
                    align-items: center;
                    min-height: 99px;
                    margin-top: 0;
                    margin-left: 213px;
                    color: $nearblack;
                    font-family: Proxima Nova;
                    font-size: 32px;
                    line-height: 39px;
                    font-weight: bold;
                    &::before {
                        content:url('./img/lines.svg'); 
                        padding: 0 5px; 
                        padding-bottom: 12px;
                    }
                    &::after{
                        content:url('./img/pol.svg'); 
                        padding: 0 12px; 
                    }
                }
                    ol{
                        margin-left: 213px;
                        list-style-type: none;  
                        padding-inline-start: 0;
                        font-family: Proxima Nova;
                        font-style: Bold;
                        font-size: 16px;
                        list-style: none;
                        
                        li{ 
                            
                            div{
                                position: relative;
                                width: 928px;
                                height: auto;
                                display: inline-block;
                                // &:nth-child(2){
                                //     &::after{
                                //         content: url('./img/Rectangle 9.26.svg');
                                //         display: flex;
                                //         align-items: center;
                                //         cursor: pointer;
                                //         position: absolute;
                                //         right: -110px;
                                //         top:30%;
                                //     }
                                // }
                                &::after{
                                    content: url('./img/Rectangle 9.24.svg');
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;
                                    position: absolute;
                                    right: -110px;
                                    top:30%;
                                }
                            }
                            .num{
                                display: inline-block;
                                vertical-align: middle;
                                text-align: center;
                                margin: 10px;
                                padding-top: 4px;
                                width: 25px;
                                height: 25px;
                                border-radius: 3px 0px;
                                color:$nearblack;
                                background: $num;
                                font-family: Proxima Nova;
                                font-size: 16px;
                                box-sizing: border-box;                     
                            }
                            &::after{
                                display: block;
                                content: url('./img/Lineli.svg');
                            }    
                        }
                    }        
                &::after{
                    content: url('./img/bar.svg');
                    display: inline-block;
                    cursor: pointer;
                    position: absolute;
                    top:40px;
                    right: -110px;
                }        
            }
            
        }  
    }
}
         