$upblue: rgba(255, 255, 255, 0.07);
$bl:#296DCE;
$orang:#FC890D;
$linkcolor:#979FAD;
$theme:#FAFAFA;
$nearblack:#222B3A;
$h3color:#1092CB;
$h4color:#979FAD;
$pgrey:#696969;
$regblue:linear-gradient(90deg, #0099DD 0%, #178EC2 100%);
$num:#F3F3F3;